button {
  background-color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: rgb(91, 91, 91);
  color: white;
}

button:active {
  background-color: rgb(91, 91, 91);
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#user-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.user-info {
  border: 1px solid #ccc;
  padding: 15px;
  width: 200px;
  background-color: #f9f9f9;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.user-photo {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}
.user-detail {
  font-size: 1em;
  margin-bottom: 5px;
}
.button-container {
  text-align: center;
  margin: 20px;
}
